@use "@/variables.module.scss" as *;

.header {
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: var(--color-widget-background);
	height: fit-content;
	border-bottom: $border-widget;
	box-shadow: $shadow;
	padding: $padding-small;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}