@use "@/variables.module.scss" as *;
@use "@/components.scss";

.home-button {
	@extend .button;
	width: 5rem;
	height: 5rem;
	fill: $color-foreground;

	&__icon {
		pointer-events: none;
	}

}

.active:hover {
	background-color: $color-background;
}